.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  gap: 1rem;
  .box {
    width: 10rem;
    height: 10rem;
    background-color: pink;
    border-radius: 10px;
    &.box-1 {
      flex-basis: 300px;
    }
  }
}
